{{#each hits}}
<li class="gallery-item">
    <img src={{webformatURL}} alt={{../alt}} data-bigimage={{largeImageURL}} data-likes={{likes}} data-views={{views}}
        data-comments={{comments}} data-downloads={{downloads}}>
</li>
{{/each}}